@model DogGo.Models.ViewModels.WalkerviewModel;

@{ ViewData["Title"] = "Details"; }
<div>
    <h1 class="mb-4">@Model.Walker.Name</h1>

    <section class="container">
        <img style="width:100px;float:left;margin-right:20px"
             src="@Model.Walker.ImageUrl" />
        <div>
            <label class="font-weight-bold">Name:</label>
            <span>@Model.Walker.Name</span>
        </div>
        <div>
            <label class="font-weight-bold">Neighborhood:</label>
            <span>@Model.Walker.Neighborhood.Name</span>
        </div>
    </section>

    <hr class="mt-5" />
    <div class="clearfix"></div>

    <div class="row">
        <section class="col-8 container mt-5">
            <h1 class="text-left">Walks</h1>

            <div class="row">
                @foreach (Walks walk in Model.Walks)
                {
                <div class="card m-4" style="width: 18rem;">
                    <label class="font-weight-bold">Date:</label>
                    <span>@walk.Date.ToShortDateString()</span>
                    <div class="card-body">
                        <div>
                            <label class="font-weight-bold">Client:</label>
                            <span>@walk.Owner.Name</span>
                        </div>
                        <div>
                            <label class="font-weight-bold">Duration:</label>
                            <span>@TimeSpan.FromSeconds(walk.Duration).Minutes min</span>
                        </div>
                    </div>
                </div>
                }
            </div>
        </section>

        <section class="col-lg-4 col-md-8 container mt-5">
            <h1>Total Walk Time: </h1>
            @if (TimeSpan.FromSeconds(Model.TotalWalkTime).Hours >= 1)
            {
                <span class=" font-weight-bold">@TimeSpan.FromSeconds(Model.TotalWalkTime).Hours hr</span>
            }
            <span class="font-weight-bold">@TimeSpan.FromSeconds(Model.TotalWalkTime).Minutes min</span>


        </section>
    </div>
</div>
<div>
     
    <a asp-action="Index">Back to List</a>
</div>
