@model DogGo.Models.ViewModels.WalksViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form class="form-check" method="post" asp-action="DeleteChecked">
 
    <table class="table">
        <tbody>
            <input type="submit" value="Delete Selected" class="btn-danger"/>
            @foreach (var item in Model.Walks)
            {
            <tr>
                <td>
                    <input value="@item.Id" type="checkbox" name="CheckedWalks"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Owner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dog.Name)
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
